<ion-view view-title="Paramètres de la partie" class="home">
    <ion-content class="has-footer" scroll="false">
        <div class="row row-no-padding">
            <div class="col">
                <div class="text-center valign">

        <div class="timerconfig" ng-click='changeTimer(timerConfig)'>
       <span>Minuteur (en secondes) : {{timerConfig}} </span>
        </div>

        <div class="cardconfig" ng-click='changeCard(cardConfig)'>
            <span>Nombre de Cartes :  {{cardConfig}}</span>
        </div>

            </div>
        </div>
        </div>


    </ion-content>

    <div class="row row-wrap row-no-padding fixed-outside">
        <div class="row row-no-padding">
        <div class="col turn" >
            <span>A vous de jouer: équipe 1</span>
        </div>
        </div>
        <div class="row row-no-padding">
            <div class="col">
                <a href="#/jeu" class=" button button-balanced bt-home">
                  <span class="bold">PRET !</span>
                </a>
            </div>
        </div>

    </div>

</ion-view>