<ion-view view-title="Manche 1" class="game">
    <ion-content scroll="false" class="has-footer">

        <div class="row row-no-padding" ng-class="hidecountdown" >
            <div class="col">
                <div class="text-center valign">
                    <div class="countdw animated zoomIn">
                        3
                    </div>
                    <div class="countdw animated zoomIn2">
                        2
                    </div>
                    <div class="countdw animated zoomIn3">
                        1
                    </div>
                </div>
            </div>
        </div>


        <div class="hide"  ng-class="showhide">
            <div class="row row-no-padding">
                <div class="team-left"><span class="team">Equipe 1</span>
                    <span class="right scrlft">    {{scoreLeft}} </span>
                </div>
                <div class="team-right scrrght">{{scoreRight}}
                  <span class="right team ">Equipe 2</span>
                </div>
            </div>

            <div class="{{roundEnd()}}">
                <div class="turn">
                    Tour {{turn}} : {{findsList.length}} cartes trouvées
                </div>

                    <div class="item" ng-repeat="find in findsList">
                        {{find.title}}
                    </div>

            </div>

            <div class="{{roundStart()}}">
                <div class="text-center counter">
                    {{counter}}
                    <!--<button ng-click='restartTimer()'>Reprendre</button>-->
                </div>
                <div  ng-repeat="item in cardsList track by $index" ng-show="$index == indexToShow" >
                    <div class="word text-center animated flipInY" >
                        {{item.title}}
                    </div>
                </div>
            </div>

        </div>
    </ion-content>


    <div class="bar bar-footer bar-assertive hide " ng-class="showhide">
        <button class="button icon ion-close" ng-click="error()">FAUTE</button>
        <button class="button icon ion-close" ng-click='waitTimer()'>PAUSE</button>
        <button class="button icon ion-checkmark-round pull-right" ng-click="valide()">VALIDER</button>
    </div>

    <div class="bar bar-footer bar-assertive hide"  ng-class="hideready">
        A votre tour: équipe {{team}}
        <button class="button icon ion-checkmark-round pull-right" ng-click="ready()"> PRET </button>
    </div>

</ion-view>