<ion-view view-title="Accueil">
    <ion-content >


        <a href="#/game" class="button button-block button-calm">
            JOUER
        </a>

        <a href="#/list" class="button button-block button-balanced">
            LISTE DES CARTES
        </a>

        <a href="#/config" class="button button-block button-energized">
            PARAMETRES
        </a>

        <a href="#/rules" class="button button-block button-assertive">
            REGLES DU  JEU
        </a>




    </ion-content>
</ion-view>