<ion-view view-title="Accueil" class="home">
    <ion-content >




    </ion-content>
    <div class="row row-wrap row-no-padding fixed-outside">
        <a href="#/parametres" class="col col-50 button  button-calm animated bounceInLeft bt-home">
            <i class="icon ion-arrow-right-b"></i> <br><span class="bold"> JOUER</span>
        </a>

        <a href="#/categories" class="col col-50 button  button-balanced animated bounceInDown">
            <i class="icon ion-ios-list"></i> <br><span class="bold"> CARTES</span>
        </a>

        <a href="#/regles-du-jeu" class="col col-50 button  button-assertive animated bounceInRight">
            <i class="icon ion-ios-book"></i> <br><span class="bold"> REGLES</span>
        </a>
    </div>

</ion-view>