<ion-view view-title="Cartes {{title}}">
    <ion-content >

        <ul ng-repeat="item in itemsList">
        <li class="item">
            <span>{{item.title}}</span>
            <span class="button button-small right"  ng-click="gotoEditCard(item)"> <i class=" ion-edit"></i></span>
        </li>
        </ul>

        <button class="button button-block button-positive" ng-click="addForm()">
            <i class="icon ion-plus-circled"></i> Ajouter
        </button>
    </ion-content>
</ion-view>