<ion-view view-title="Cartes {{title}}" class="listcat">
    <ion-content scroll="false">

        <button class="button button-block button-balanced" ng-click="addForm()">
            <i class="icon ion-plus-circled"></i> Ajouter
        </button>

        <ion-scroll>
        <ul ng-repeat="item in itemsList">
        <li class="item catlistitem">
            <span>{{item.title}}</span>
            <span class="button button-small button-royal right"  ng-click="gotoEditCard(item)"> <i class=" ion-edit"></i> Editer</span>
        </li>
        </ul>
        </ion-scroll>

    </ion-content>
</ion-view>