<ion-view view-title="Catégories" class="listcat">
    <ion-nav-buttons side="right">
        <button class="button button-block button-balanced addbt" ng-click="addCategory()">
            <i class="icon ion-plus-circled"></i>  AJOUTER
        </button>
    </ion-nav-buttons>


    <ion-content >


        <ul ng-repeat="item in catsList">
            <li class="item catlistitem" ng-click="viewCat(item)">
                <span>{{item.name}}</span>
                <span class="right"> {{item.count}}</span>
            </li>
        </ul>

        <!--<a href="#/form/" class="button button-block button-positive">-->
            <!--<i class="icon ion-plus-circled"></i> Ajouter-->
        <!--</a>-->
    </ion-content>
</ion-view>