<ion-view view-title="Règles du jeu" class="rules">
    <ion-content>


        <div class="row">
            <div class="col rulesdiv">
                <h4 class="rulestitle">BUT DU JEU</h4>
                La partie se déroule en 2 manches et chaque
                équipe doit deviner le plus possible de mots affichés à l'écran. On prend x cartes
                qui serviront durant les 2 manches.
                A chaque fois, un joueur par équipe tente de faire deviner à ses coéquipiers le plus de mots.
            </div>
        </div>


        <div class="row">
            <div class="col rulesdiv">
                <h4 class="rulestitle">MANCHE 1</h4>
                Pour la première manche, le joueur narrateur peut parler autant qu’il le souhaite pour faire
                deviner le nom de la carte à découvrir à son équipe en x secondes. Il est impossible de passer une
                carte
                difficile. C’est ensuite autour de l’autre équipe et ainsi de suite jusqu’à ce que toutes les cartes ont
                été découvertes.
            </div>
        </div>

        <div class="row">
            <div class="col rulesdiv">
                <h4 class="rulestitle">MANCHE 2</h4>
                La deuxième manche n’autorise plus qu’à faire deviner les cartes avec un seul mot.
                Cela peut paraitre difficile mais les cartes étant les mêmes, un travail de mémorisation lors
                de la première manche est indispensable si vous voulez gagner!
            </div>
        </div>

        <div class="row">
        <div class="col rulesdiv">
            <h4 class="rulestitle">GAGNANTS</h4>
        A la fin de la seconde manche, l'équipe ayant remporté le plus de points gagne la partie!
        </div>
        </div>

    </ion-content>
</ion-view>