/*---------------------------------------------------------------------------------------game */
.team-left{
    background-color: blue;
    color: white;
    padding: 5px;
}

.team-right{
    background-color: green;
    color: white;
    padding: 5px;
}

.right{
    float: right;
}