@font-face {
    font-family: 'Bangers';
    font-style: normal;
    font-weight: 400;
    src:  url('../fonts/bang.woff2') format('woff2');
}

@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src:  url('../fonts/russo.woff2') format('woff2');
}

/*---------------------------------------------------------------------------------------general */
.right{
    float: right;
}

.left{
    float: left;
}

.bold {
    font-weight: bold;
}

.bar-footer.footer-buttons{
    padding: 0px;
}
.bar-footer.footer-buttons .row{
    padding: 0px;
}
.bar-footer.footer-buttons .row .col{
    text-align: center;
}

.valign{
     margin-top: 30vh;
 }



/*---------------------------------------------------------------------------------------game */
.team-left{
    background-color: blue;
    color: white;
    padding: 5px;
    width: 48vw;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 20px;
}

.team-right{
    background-color: green;
    color: white;
    padding: 5px;
    width: 48vw;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 20px;
    right: 0;
    position: absolute;
}

.scrlft{
    padding-right: 8px;
    font-size: larger;
}

.scrrght{
    padding-left: 12px;
    font-size: larger;
}

.team{
    font-size: medium;
}

.counter{
    font-size: x-large;
    background-image: url('../img/chrono.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 20vh;
    width: 25vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: greenyellow;
    line-height: 20vh;
}

.game{
    background-color: lightgoldenrodyellow;
}

.countdw{
    font-size:90px;
    font-family: 'Bangers', cursive;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff,
    -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.word{
    background-color: white;
    padding: 10px;
    width: 80vw;
    margin-top: 20vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 4px;
    border: 1px solid gainsboro;
    font-size: 22px;
    text-transform: capitalize;
}

.turn{
    background-color: white;
    color: black;
    padding: 15px!important;
    font-size: large;
}

.find{
    margin-top: 20vh;
    background-color: purple;
    color: white;
    padding: 5px;
}
.findlist{
    background-color: #c5a5e4;
    color: black;
    padding-left: 10px;
}

.endmsg{
    background-color: yellow;
    color: black;
    padding: 10px;
    margin-top: 10vh ;
    position: absolute;
    width: 100%;
    font-size: 30px;
    font-family: 'Bangers', cursive;
    text-align: center;
}

/*---------------------------------------------------------------------------------------home */
.fixed-outside{
    position: absolute;
    bottom: 0;
    color:white;
    width: 100%;
    text-align:center;
}

.home{
    background-image: url("../img/bg.jpg");
    background-size: cover;
}

.titlemenu{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Bangers', cursive;
    margin: 100px;
    color: #11c1f3;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000,
    -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

}

.bt-home{
    width: 100%;
    border-radius: 0!important;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    color: black;
}

.bt-home i:before {
    font-size: 44px !important;
}
/*---------------------------------------------------------------------------------------config */
.config{
    background-color: lightgoldenrodyellow;
}


.timerconfig{
    background-color: #33b5e5;
    padding: 8px;
    margin-bottom: 8px;
}

.cardconfig{
    background-color: salmon;
    padding: 8px;
    margin-bottom: 8px;
}
.chat-item.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}
/*---------------------------------------------------------------------------------------regles */
.rulestitle{
    font-weight: bold;
    text-decoration: underline;
}

.rules{
    background-color: crimson;
}

.rulesdiv{
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 5px;
}
/*---------------------------------------------------------------------------------------liste catégories */
.listcat{
    background-color: #939ba5;
}

.catlistitem{
    text-transform: capitalize;
    margin: 4px;
    padding: 3px!important;
}