/*---------------------------------------------------------------------------------------general */
.right{
    float: right;
}

.bold {
    font-weight: bold;
}

/*---------------------------------------------------------------------------------------game */
.team-left{
    background-color: blue;
    color: white;
    padding: 5px;
}

.team-right{
    background-color: green;
    color: white;
    padding: 5px;
}

/*---------------------------------------------------------------------------------------home */
.fixed-outside{
    position: absolute;
    bottom: 0;
    color:white;
    width: 100%;
    text-align:center;
}

.home{
    background-color: lightgoldenrodyellow;
}